$colorAzul:#1A748F;
$azulOscuro:#1e5064;
$colorDorado:#EBC668;
$colorGris:#E5E5E5;
$fuente:'Montserrat', sans-serif;
$fuenteMediana:regular;
$fuenteBold:bold;
$fuenteItalic:italic;
$anchoTotal: 100%;
$gradiente1:linear-gradient(#1A748F, #1A748F);
$gradiente2:linear-gradient(#1A748F, #1A748F);
$sombraCard: 8px 0px 8px  #c7c4c4;
$bordeCard:12px;
$sombraInset:inset 5px 5px 12px  #d7dadd;

